body{
    background-color: #99DD88;
    text-align: center;
}


h1{
    text-align: center;
    color: #33DDAA;
    background-color: #DDFFEE;
}

ul,
ol{
    text-align: left;
    display: table;
    margin: 0 auto;
    font-size: 19px;
}

img{
    width: 300px;
    height: auto;
}
